.combobox-with-search__modal {
  $main-panel-width: 600px;
  $side-panel-width: 300px;
  $one-panel-width: $main-panel-width;
  $two-panel-width: $main-panel-width + $side-panel-width;
  $three-panel-width: $main-panel-width + (2 * $side-panel-width);

  padding: 10px;
  display: flex;

  .modal-dialog {
    position: relative;
    display: flex;
    width: auto;
    margin: 10px auto;
  }

  @media (min-width: 620px) {
    .modal-dialog {
      max-width: 95%;
    }

    .combobox-with-search__modal-with-1-panels {
      width: $one-panel-width;
    }
  }

  @media (min-width: 920px) {
    .combobox-with-search__modal-with-2-panels {
      width: $two-panel-width;
    }
  }

  @media (min-width: 1220px) {
    .combobox-with-search__modal-with-3-panels {
      width: $three-panel-width;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;

    .combobox-with-search__modal-panels {
      height: 100%;
      display: flex;
      flex-direction: row;

      .combobox-with-search__modal-panel {
        display: flex;
        flex-direction: column;
      }

      .combobox-with-search__modal-panel--center {
        width: $main-panel-width;
        height: 100%;
        flex: 1 1;
        flex-direction: column;

        .modal-body {
          display: flex;
          flex-direction: column;
          flex: 1 1;

          .combobox-with-search__modal-search-results {
            display: flex;
            flex-direction: column;
            flex: 1 1;
          }
        }
      }

      .combobox-with-search__modal-panel--left {
        border-right: 1px solid #e5e5e5;
        width: $side-panel-width;
      }

      .combobox-with-search__modal-panel--right {
        border-left: 1px solid #e5e5e5;
        width: $side-panel-width;
      }
    }
  }

  .combobox-with-search__modal-search-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;

    .combobox-with-custom-search__modal-search-filter {
      margin: 5px;
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
    }

    .combobox-with-search__modal-search-filter {
      margin: 5px;
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      input {
        width: 100%;
      }
    }
    .combobox-with-search__modal-search-label {
      margin-right: 5px;
      display: block;
    }
  }
}


.combobox-with-search__modal-with-1-panels {
  .combobox-with-search__modal-title.combobox-with-search__modal-title--2-3-panels {
    display: none;
  }
}

.combobox-with-search__modal-with-2-panels,
.combobox-with-search__modal-with-3-panels {
  .combobox-with-search__modal-title.combobox-with-search__modal-title--1-panel {
    display: none;
  }
}

.combobox-with-search__modal-search-results {

  .cell-value-disabled {
    color: #ccc;
  }

  .rt-tbody {
    max-height: 400px;
    overflow-y: scroll;
  }

  .ReactTable .-pagination .-center {
    flex-wrap: nowrap;
  }

  .hidden {
    display: none !important;
  }
}
