.logContainer {
  width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: 10px;
  margin-left: 350px;
}
.right-column{
  background: #fff;
  border:1px solid #e6e6e6;
  width:350px;
  margin:10px;
  padding:40px 40px 15px 40px;

}
.social_logo1{
  
  height: 65px;
    width: 175px;
    /* margin-bottom:15px; */
}
.form-control1{
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 0.8rem;
   font-weight: 100;
   line-height: 1.5;
   color: #495057;
  background-color: #fafafa;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1.1px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group1{
  margin-bottom:7px;
}
.form{
  margin-top: 35px;
}
.or {
 font-size: 13px !important;
 color:#999;
 font-weight: 900;
}
.or::before {
 content: '';
  background:#efefef;
  display:block;
  height: 2px;
  position: relative;
  top:11px;
  width: 40%;
}
.or::after{
  content: '';
  background:#efefef;
  display:block;
  height: 2px;
  position: relative;
  bottom:10px;
  width: 40%;
  left:160px;
}
.fb_icon1{
  width: 30px;
  height: 25px;
  padding: 0px 4px 2px ;
  margin-right: 10px;
  border-radius: 0px;
}
.right-log-column{
 background: #fff;
  border:1px solid #e6e6e6;
  width:350px;
  margin:10px; 
  padding:5px;
  
}
.box22{
margin:0 auto;
padding:10px;
text-decoration:none;
}
.link{
  text-decoration:none;
}
.getAccount{
  background:#fff;
  width: 350px;
}
.storeImg1{
    height: 40px;
    width: 150px;
}
.storeImg2{
    height: 34px;
    width: 150px;
    margin: 0px 0 0 10px;
    
}
  .span{
    color: skyblue ;
    font-weight: 900;
    text-underline-position:none;
  }     
